<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF8" />
</h:head> 
<h:body>
	<h:form>
		<h:inputText value="Digite algo aqui" />
		<h:commandButton value="Salvar" />
	</h:form>
</h:body>
</html>
